 body{
    color:black;
    background:white;
   }
   
   header {
      border: solid 2px blue;
   }
   section {
      background: (rgb(3, 3, 105));
   }

.chamando-texto{
   margin-right: 5%;































}

